.container {
	width: 80%;
	margin: 0 auto;
}

.instruction {
  font-size: 20px;
}

.flanker-stim td {
	text-align: center;
	font-size: 50px;
	padding: 50px;
}

.fixCross {
	color: black;
	font-size: 50px;
}
