body {
	color: white;
	width: 800px;
	margin: 0 auto;
	background: black;
}

.container {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.page {
	font-size: 20px;
	margin-top: 10%;
}

.instruction .debriefing {
	margin: 0 auto;
	width: 800px;
}

.questions form .row {
	padding-top: 20px;
}

.create-new-participant > legend {
	color: white;
	font-size: 30px;
}

.flanker-stim {
	color: white;
	margin-top: 30%;
}

.flanker-stim td {
	padding: 50px;
	font-size: 50px;
	text-align: center;
}

.otherFeedback {
	color: black;
}

.feedback {
	color: white;
}

.negativeFeedback {
	color: red;
}

.positiveFeedback: {
	color: green;
}
